<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
        integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title>LOGIN</title>
</head>

<body>
    <br>
    <br>

    <div class="d-flex flex-column min-vh-100 justify-content-center align-items-center">
        <div class="card p-4 text-light bg-dark mb-5">
            <div class="card-header">
                <h3>FORMULARIO DE REGISTRO</h3>
            </div>
            <div class="card-body w-100">
                <form action="agregar" method="post">
                    <div class="input-group form-group mt-3">
                        <div class="bg-secondary rounded-start">
                            <span class="m-3"><i class="fas fa-user mt-2"></i></span>
                        </div>
                        <input type="text" class="form-control" placeholder="Usuario" name="usuario" required>
                    </div>

                    <div class="input-group form-group mt-3">
                        <div class="bg-secondary rounded-start">
                            <span class="m-3"><i class="fas fa-key mt-2"></i></span>
                        </div>
                        <input type="password" class="form-control" placeholder="Contraseña" autocomplete="off"
                            name="pass" required>
                    </div>

                    <div class="form-group mt-3">
                        <div class="text-center">
                            <button type="submit" value="Acceder" class="btn bg-secondary float-end text-white w-100"
                                name="login-btn">Registrarse</button>
                        </div>
                        <br>
                        <div class="text-center">
                            <a href="/usuarios" class="btn btn-sm btn-danger">VOLVER</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div>
        <% if (typeof alert !='undefined' ) { %>
            <script>
                Swal.fire({
                    alert: true,
                    title: '<%= alertTitle %>',
                    text: '<%= alertMessage %>',
                    icon: '<%= alertIcon %>',
                    showConfirmButton: '<%= showConfirmButton %>',
                    timer: '<%= timer %>'
                }).then(() => {
                    window.location = '/usuarios <%= ruta %>'
                })
            </script>
            <% } %>
    </div>

</body>

</html>