<%- include("../layouts/header.ejs") %>
    <h1>
        <%= mensaje %>
    </h1>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">NOMBRE</th>
                <th scope="col">IMAGEN</th>
                <th scope="col">ACCIONES</th>
            </tr>
        </thead>
        <tbody>
            <% for (let i=0; i < libros.length; i++) { %>
                <tr>
                    <td>
                        <%= libros[i].id %>
                    </td>
                    <td>
                        <%= libros[i].nombre %>
                    </td>
                    <td>
                        <%= libros[i].imagen %>
                    </td>
                    <td>
                        <a href="libros/editar/<%=libros[i].id %>" class="btn btn-sm btn-warning">EDITAR</a> -
                        <a href="libros/eliminar/<%=libros[i].id %>" class="btn btn-sm btn-danger">ELIMINAR</a>
                    </td>
                </tr>
                <% } %>
        </tbody>
    </table>
    <br>
    <a href="libros/agregar" type="button" class="btn btn-primary">Agregar Libro</a>



    <%- include("../layouts/footer.ejs") %>